@import url(https://fonts.googleapis.com/css?family=Roboto:300);

p.titulo {
	text-align: center;
	text-decoration: none;
	font-size: 40px;
	font-weight: bold;
}

p.corpo {
	text-align: justify;
	text-decoration: none;
	font-size: 24px;
}

.page {
	width: 100%;
	padding: 4% 0 0;
	margin: auto;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 80%;
	margin: 0 auto 100px;
	padding: 50px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	height: 50px;
	border: 0;
	margin: 0 0 15px;
	padding: 0 0 0 15px;
	box-sizing: border-box;
	font-size: 26px;
}

.form select {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 0 0 0 15px;
	height: 50px;
	box-sizing: border-box;
	font-size: 26px;
}

input[type="range"] {
  -webkit-appearance: none !important;
  width: 100%;
  height: 25px;
  background-color: #f2f2f2;
  margin: auto;
  transition: all 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 35px;
  height: 35px;
  background-color: #4CAF50;
  border-radius: 30px;
  box-shadow: 0px 0px 3px #3c6d59;
  transition: all 0.5s ease;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #457d66;
}
input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: 0px 0px 1px #3c6d59;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 60%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 26px;
	font-weight: bold;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
	background: #43A047;
}

.slider {
	width: 100%;
	border-collapse: collapse;
	border: none;
}

.slider tr td.left {
	width: 15%;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}

.slider tr td.center {
	width: 70%;
	text-align: center;
	vertical-align: middle;
}

.slider tr td.right {
	width: 15%;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}

.slider tr td.rotulo {
	width: 100%;
	text-align: left;
	vertical-align: top;
	height: 50px;
	padding: 0 0 0 15px;
	font-size: 26px;
}

body {
	background: #76b852; /* fallback for old browsers */
	background: -webkit-linear-gradient(right, #76b852, #8DC26F);
	background: -moz-linear-gradient(right, #76b852, #8DC26F);
	background: -o-linear-gradient(right, #76b852, #8DC26F);
	background: linear-gradient(to left, #76b852, #8DC26F);
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}